Package: sketchi
Version: ${SKETCHI_VERSION}
Section: graphics
Priority: optional
Architecture: amd64
Maintainer: Sketchi contributors <github@mossbyte.dev>
Depends: libwayland-client0, libxkbcommon0, libvulkan1, libx11-6, libxcb1, libxrandr2, libxi6, libxcursor1, libxinerama1
Description: Collaborative Rust whiteboard
 Sketchi is a collaborative whiteboard desktop application with a local
 collaboration server sidecar.
